/* defult style */
*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 10px;
}
body{
	background: #f4f4f4;
}

/* app style */
.header-app{
  width: 100%;
	height: 5rem;
	display: block;
	position: absolute;
	top: 0;
  left: 0;
	background: #517fa4;
}

.header-app menu{
  height: 100%;
  float: right;
}

.header-app menu button{
  width: 5rem;
  height: 5rem;
  display: block;
  padding: 1rem;
  background:none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}

.header-app menu button .icon{
  width: 3rem;
  height: 3rem;
  display: inline-block;
  position: relative;
  display: block;
  background: url(../img/sprite-icons.png) no-repeat;
  background-size: 3rem auto;
  font-size: 0;
}

.header-app menu button .icon-reload{
  background-position: 0 0;
}

.header-app h1{
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: left;
  color: #FFF;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0px;
  padding: 0px 1rem 0px 3rem;
  height: 100%;
  font-weight: lighter;
}

.content{
  position: absolute;
  top: 5rem;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-bottom: 4rem;
  z-index: 5;
  overflow-y: auto;
}

.content ul{
  width: 100%;
  padding: 1.5rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@-moz-keyframes searching{
  0%{opacity: 1;}
  50%{opacity: 0.3;}
  100%{opacity: 1;}
}

@keyframes searching{
  0%{opacity: 1;}
  50%{opacity: 0.3;}
  100%{opacity: 1;}
}

.content .searching{
  width: 10rem;
  height: 12rem;
  display: block;
  margin: 10rem auto 0;
  padding: 5.2rem 0 0;
  background: url(../img/geo-icon.png) no-repeat center 0;
  background-size: 4.2rem auto;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  color: #858585;
  -moz-animation-name: searching;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 700ms;
  animation-name: searching;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 700ms;
}

#error {
  width: 20rem;
  height: auto;
  min-height: 2.2rem;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10rem auto 0;
  padding: 0 0 0 3.2rem;
  background: url(../img/error-icon.png) no-repeat left center;
  background-size: 2.2rem auto;
  font-size: 1.2rem;
  text-align: left;
  color: #b90000;
}

#error.hidden{
  display: none;
}

#results.hidden{
  display: none;
}

.photo{
  width: 100%;
  height: auto;
  padding: 1.5rem 0;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #dbdbdb;
  list-style: none;
}

.photo:first-child{
  padding: 0  0 1.5rem;
}

.photo:last-child{
  border: none;
}

.photo header{
  margin: 0 0 1.5rem;
  position: relative;
  overflow: hidden;
}

.photo header img{
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 0 1rem 0 0;
  float: left;
}

.photo header h2{
  padding: 0.5rem 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.4rem;
  color: #2c393b;
}

.photo header .time-ago{
  display: block;
  font-size: 1.2rem;
  color: #858585; 
  font-weight: lighter;
}

.photo figure img{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 1.5rem;
}

.photo figure figcaption{
  margin: 0 0 1rem;
  font-size: 1.2rem;
  color: #858585;
}

.photo menu{
  width: 100%;
  height: 3rem;
}

.photo menu li{
  margin: 0 0 0 1rem;
  list-style: none;
  float: right;
}

.photo menu .button-share{
  width: 3rem;
  height: 3rem;
  display: block;
  background: transparent url(../img/sprite-icons.png) no-repeat 0 -3rem;
  background-size: 3rem auto;
  border: none;
  font-size: 0;
}

span.emoji{
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  vertical-align: baseline;
  margin: 0 0.2rem;
  background-size: 1.6rem;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

img.emoji{
  width:1rem;
  height:1rem;
}